@charset "utf-8";
      .item_box3 img:hover{
        opacity: 0.5;
        transition: all .3s;
      }
        .image1 img:hover{
            opacity: 0.5;
            transition: all .3s;
        }
        .image2 img:hover{
            opacity: 0.5;
            transition: all .3s;
        }
        .houseWarming img:hover{
            opacity: 0.5;
            transition: all .3s;
        }
        .houseWarming_1 img:hover{
            opacity: 0.5;
            transition: all .3s;
        }
        /* *{
            outline: 1px solid red;
        } */
           /*데스크탑 인기사진 !!!*/
           .image1{
            justify-content: center;
            /* border: 1px solid red; */
            margin: 5px;
            border-radius: 5px;
        }
       
        .item_box1 ul{
            border-bottom: 1px solid black;
            height: 40px;
        }
        .item_box1 ul a{
            padding-right: 10px;
        }
        .container2 .container2-1{
            display:flex;
            flex-direction: column;
        }
        .container2 .container2-2{
            display:flex;
            justify-content: center;
        }
        .image1 figcaption{
            text-align: left;
            font-size: 12px;
        }
        .container3{
            display: flex;
            justify-content: center;

        }
        .image1 img{
            width: 100%;
            border-radius: 5px;
        }
        .image2 img{
            width: 100%;
            border-radius: 5px;
        }
        .image2{
            justify-content: center;
            /* border: 1px solid red; */
            margin: 5px;
            border-radius: 5px;
        }
        .image2 figcaption{
            text-align: left;
            font-size: 12px;
        }
        .item_box4 p{
            /* margin-left: 17.5%; */
            text-decoration:none;
            font-family: 'Nanum Gothic', sans-serif;  
            color: black;
            font-size: 15px;
            font-weight:900;
        }
        figure{
            margin: 1px;
        }
        .search{
            display: none;
        }
        html,body{
            padding: 0%;
            margin: 0%;
            width: 100%;
        }
        .container{
            display: flex;
            flex-direction: column;
        }
        .item_box1 ul li{
            display:inline;            
            }
        .item_box1 ul{ 
            text-align: left;
           
        }
        .item_box1 a{
            text-decoration:none;
            color : black;
            /* font-size: 13px; */
        }
        .logo_Img{
            text-align: center;
        }
        a{
            color: inherit;
            text-decoration: inherit;
        }
        .menu{
            /* text-align: center; */
            font-family: 'Nanum Gothic', sans-serif;   
            font-weight: 600; 
            text-align: center;
        }
        
        .menu ul{
            opacity: 0.9;
            margin: 0 auto;
            font-size: 13px;
        }
        .menu > ul{
            background-color: white;
            display: inline-block;
            padding: 5PX 10px;
           
        }
        .menu > ul > li{
            display: inline-block;

        }
        .menu > ul > li > a{
            padding:  10px 20px;
            display: block;
            
        }
        .slide{
           line-height: 25px;
        }
        .slide li{
            background-color: #DDD6CC;
            transition: all .5s;
        }
    
        .menu li:hover > a{
            background-color:#DBD8CF;
            color: black;
            transition: all .5s;
        }
        .menu li{
            position: relative;
        }
        .menu > ul ul{
            display: none;    
            position: absolute;
            top: 100%;
            left: 0;
            text-align: left;
            list-style: none;
        
        }
        .menu li:hover > ul{
            display: block;
            transition: all .5s;
            width:100px;
            
        }
        /*----------------------------화명니*/
        .item_box3{
            /* width: 100% ; */
            /* height: 450px; */
            margin-bottom: 3%;
        }
        .item_box3 img{
            /* width: 100% ; */
        }
        #imageTitle a{
            font-family: 'Nanum Gothic', sans-serif;  
        }
        #imageTitle{
            margin-bottom: 1%;
        }
       
        .houseWarming a{
            text-decoration:none;
            font-family: 'Nanum Gothic', sans-serif;  
            color: black;
            font-size: 15px;
            font-weight:900;
        }
        .houseWarming p{
            margin-left: -83%;
        }
        .houseWarming{
            text-align: center;

        }
        .houseWarming img{
            width: 30%;
            margin: 5px;
            border-radius: 5px;
        }
              
        .houseWarming_1{
            text-align: center;
            margin: 50px 0;
        }     
        .houseWarming_1 img{
            width: 30%;
            margin: 5px;
            border-radius: 5px;
        }
        .item_box4 p{
            margin-left: 10%;
        }
      
        .item_box4_1{
            text-align: center;
            margin-top: 50px;
 
        }
        .item_box4_1 img{
            width: 23%;
            height: 16%;
            margin: 5px;
            border-radius: 5px;
            margin-bottom: 20px;
            
        }
        
        footer{
           height: 20%; background-color: whitesmoke; clear: both; margin: 0.5%;
           font-family: 'Nanum Gothic', sans-serif; 
           font-size: 11px;
           text-align: left;
           margin: 0%;       
        }
        
        #imageTitle {
           
           padding-left:10px;
           font-size: .9rem;
           font-weight:900;
           font-family: 'Nanum Gothic', sans-serif;  
        }
 

        @media screen and (min-width :992px){
           
            .menu ul{
            opacity: 0.9;
            margin: 0 auto;
            font-size: 14px;
        }
        .menu > ul > li > a{
            padding:  10px 40px;
            display: block;
            
        }
            body,html{
                margin:0 auto;
            }
           
            ul li a{
            text-decoration: none;
            color: black;
        }
        #box1_1{
            margin-left: 50px;
        }
        .item_box1{
            
        }
        .item_box1 ul{
            border-bottom: 1px solid black;
            height: 42px;                        
        }
        .item_box1 ul li{
            display: inline;
            font-size: 12px;
            padding: 0;    
            text-align: center;  
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 20px;                         
        }
        .item_box1 ul li :hover{
            color: #777;
            transition: all .5s;
        }
        .logo_Img{
            text-align: center;
            margin-top: 1%;
            border-bottom: 1px solid black;
        }
        .search{
            float: right;
            bottom: 10%;
            display: inline-flex;
            padding-right: 100px;
        }
        .search input{
            background: none;
            width: 115px;
            height: 23px;
            padding: 2px 100px 0 9px;
            line-height: 20px;
            font-size: 11px;
            color: black;
            }
        .search button{
            width: 34px;
            height: 28px;
            background-color:#E2D7CC;
        }
        .search button img{
            position: relative;
            bottom: 7px;
            right: 7px;
            width: 34px;
            height: 35px;        
        }
        
      
        .item_box3{
           
            height: 450px;
            margin-bottom: 1%;
            text-align: center;
            background-color:#E2D7CC ;
            
        }
        .item_box3 img{
            height: 100%;
            /* width: 600px; */
        }
        
       
        .item_box4_1{
            text-align: center;
            margin-top: 50px;
 
        }
        .item_box4_1 img{
            width: 16%;
            height: 16%;
            margin: 5px;
            border-radius: 5px;
            margin-bottom: 20px;
            
        }
        .houseWarming p{
            margin-left: -69%;
        }
        .houseWarming{
            text-align: center;

        }
        .houseWarming img{
            width: 24%;
            margin: 5px;
            border-radius: 5px;
        }
              
        .houseWarming_1{
            text-align: center;
            margin: 50px 0;
        }     
        .houseWarming_1 img{
            width: 24%;
            margin: 5px;
            border-radius: 5px;
        }
        footer p{
            margin: 4px;
            padding-left: 23%;           
        }
        /*데스크탑 인기사진 !!!*/
        .image1{
            justify-content: center;
            /* border: 1px solid red; */
            margin: 5px;
            border-radius: 5px;
        }
       .container2{
           justify-content: center;
           display: flex;        
                }
        .image1 figcaption{
            text-align: left;
            font-size: 12px;
        }
        .container3{
            display: flex;
            justify-content: center;

        }
        .image2{
            justify-content: center;
            /* border: 1px solid red; */
            margin: 5px;
            border-radius: 5px;
        }
        .image2 figcaption{
            text-align: left;
            font-size: 12px;
        }
        .item_box4 p{
            /* margin-left: ; */
            text-decoration:none;
            font-family: 'Nanum Gothic', sans-serif;  
            color: black;
            font-size: 15px;
            font-weight:900;
        }
        figure{
            margin: 1px;
        }
    }
    /*-------------------------------------------------*/
        @media screen and (min-width :768px) and (max-width:990px){
         
            .item_box1 ul li{
            display: inline;
            font-size: 12px;
            padding: 0;    
            text-align: center;  
            
            padding-inline-start: 10px;                         
        }
            .menu ul{
            opacity: 0.9;
            margin: 0 auto;
            font-size: 14px;
        }
        .menu > ul > li > a{
            padding:  10px 40px;
            display: block;
            
        }
        #box1{
          float: left;
        }
        .item_box1 li a{
            font-size: 11px;
            font-weight: 600;
        }
        
        .item_box1 ul{
            border-bottom: 1px solid black;
            height: 42px;  
                               
        }
       
        .search{
            float: right;
            bottom: 10%;
            display: inline-flex;
            padding-right: 70px;
        }
        .search input{
            background: none;
            width: 70px;
            height: 23px;
            padding: 2px 100px 0 9px;
            line-height: 20px;
            font-size: 11px;
            color: #777;
            }
        .search button{
            width: 34px;
            height: 28px;
            background-color: #E2D7CC;
        }
        .search button img{
            position: relative;
            bottom: 7px;
            right: 7px;
            width: 34px;
            height: 35px;        
        }
        .logo_Img{
            text-align: center;
            margin-top: 1%;
            border-bottom: 1px solid black;
        }
        .item_box3{
           
            height: 450px;
            margin-bottom: 3%;
            text-align: center;
            background-color:#DBD8CF ;
            
        }
        .item_box3 img{
            height: 100%;
            /* width: 600px; */
        }
        #imageTitle{
            margin-bottom: 2%;
        }
        .item_box4_1{
            text-align: center;
            margin-top: 50px;
        }
        .item_box4_1 img{
            width: 21%;
            height: 20%;
            margin: 5px;
        }
     
        .houseWarming p{
            margin-left: -88%;
        }
        .houseWarming{
            text-align: center;

        }
        .houseWarming img{
            width: 31%;
            margin: 5px;
            border-radius: 5px;
        }
              
        .houseWarming_1{
            text-align: center;
            margin: 50px 0;
        }     
        .houseWarming_1 img{
            width: 31%;
            margin: 5px;
            border-radius: 5px;
        }
        footer{
            text-align: left;
        }
        footer p{
            margin: 4px;
            padding-left: 2%;           
        }
        
        }
        @media screen and (max-width:767px){
        .item_box1 a{
           font-size: 10px;
        }
        .item_box3 img{
            width: 100%;
        }
        .logo_Img{
            text-align: center;
            margin-top: 1%;
            border-bottom: 1px solid black;
        }
        .menu > ul > li > a{
            padding:  10px 20px;
            display: block;
            transition: all .5s;
            
        }
        .menu li:hover > a{
            padding: 0 -100px;
            
        }
        .slide li:hover a{
          color: darkgray;
            
        }
        .houseWarming span:nth-child(3){
            display: none;
        }
        .houseWarming_1 span:nth-child(3){
            display: none;
        }
        .houseWarming img{
            width: 40%;
        }
        
        .houseWarming_1 img{
            width: 40%;
        }
        .houseWarming p{
            margin-left: -67%;
        }
    }